<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to relative url template</h1>
    <!-- <a href="first_app/other.html"></a> -->
                <!-- or -->
    <a href="{% url 'first_app:other' %}">The Other Page</a>
    <br>
    <a href="{% url 'admin:index' %}">Admin Page</a>
    <br>
    <a href="{% url 'first_app:index' %}">Link To Index</a>
                    <!-- or -->
    <br>
    <a href="{% url 'index' %}">This Link Is Also For Index</a>

    <!-- 'first_app:other' In this syntax django goes to urls.py and checks for a namespace named with 
        'app_name' assignes value of first_app. Now it checks for the 'name' parameter of the path() method
    which consists of 'other' as the name. And then it goes to that 'view' which is mapped to the 'other'-->
</body>
</html>